{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": [
                    "chrome >= 49"
                ],
                "useBuiltIns": "usage",
                "corejs": 3
            }
        ],
        "@babel/preset-react"
    ]
}